*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root { background: #2980B9;
    background: -webkit-linear-gradient(to top, #FFFFFF, #d3f3ff, rgb(158, 216, 255));
    background: linear-gradient(to top, #FFFFFF, #d3f3ff, rgb(158, 216, 255));
}

body {
    display:flex;
    min-height:100vh;
    background: -webkit-linear-gradient(to top, #FFFFFF, #d3f3ff, rgb(158, 216, 255));
    background: linear-gradient(to top, #FFFFFF, #d3f3ff, rgb(158, 216, 255));
}

/*Clock*/
.clock {
    position: absolute;
    left: 172px;
    top: 379px;
    width:420px;
    height:420px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #fff url("clock.png");
    background-size: cover;
    border: 20px solid #fff ;
    box-shadow: inset 0 0 30px rgba(0,0,0.1),
    0 20px 20px rgba(0,0,0,.2),
    inset 0 0 0 4px rgba(255,255,255,1);
    border-radius: 50%;

}

.clock::before {
    content: '';
    position: absolute;
    width:15px;
    height:15px;
    background: #848488;
    border: 2px solid #fff;
    border-radius: 50%;
    z-index : 100000;
}

.clock .hour1,
.clock .min,
.clock .sec{
    position: absolute;
}

.clock .hour1 .hr{
    width : 160px;
    height : 160px;
}

.clock .min .mn{
    width : 190px;
    height : 190px;
}

.clock .sec .sc{
    width : 230px;
    height : 230px;
}

.hr, .mn, .sc{
    display:flex;
    justify-content: center;
    border-radius: 50%;
}

.hr:before{
    content: '';
    position: absolute;
    width:8px;
    height:80px;
    background:#848488;
    z-index : 10;
    border-radius: 6px 6px 0 0;
}

.mn:before{
    content: '';
    position: absolute;
    width:4px;
    height:90px;
    background:#d6d6d6;
    z-index : 11;
    border-radius: 6px 6px 0 0;
}

.sc:before{
    content: '';
    position: absolute;
    width:2px;
    height:150px;
    background:#ff6767;
    z-index : 12;
    border-radius: 6px 6px 0 0;
}

/*StopWatch*/
.box {
    position: absolute;
    left: 170px;
    top: 100px;
}
.time {
    font-size: 30px;
    font-weight: 500;
    width: 400px;
    text-align: center;
    font-size: 65px;
    font-weight:700;
    color:rgb(74, 135, 255);
}

.btnBox {
    position: absolute;
    left: 80px;
    text-align: center;
    width: 240px;
    font-size: 30px;
}

#startbtn, #pausebtn {
    padding: 6px 16px;
    outline: none;
    border: none;
    width: 100px;
    height: 40px;
    font-size: 40px;
    font-family: 'Do Hyeon', sans-serif;
    color:rgb(144, 181, 255);
    font-weight:500;
}

/*ToDoList*/
#container {
    width: 750px;
    background-color: #c5e9ff;
    background-size :cover;
    position: absolute;
    left: 753px;
    top: 60px;
}

h1{
color:rgb(74, 135, 255);
font-weight: 900;
padding-top: 20px;
font-size: 38px;
}

#todo {
    width: 590px;
    height: 30px;
}

#add-button {
    width:45px;
    height: 45px;
}
button {
    background-color: transparent !important;
    border-color: transparent;
    border: none;
    color: #FFFFFF;;
}

#todo-list {
    width: 520px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

/*Processbar*/

#progressbar {
    border-radius: 10px;
    width: 590px;
    height: 22px;
    background: rgb(103, 143, 255);
    position: relative;
    left: 50rem;
    top: 90%;
}

progress::-webkit-progress-bar {
    background-color: rgb(114, 147, 224);
    border-radius: 12px;
}

progress::-webkit-progress-value {
    background-color: rgb(217, 217, 255);
    border-radius: 7px;
    box-shadow: 1px 1px 5px 3px rgba(80, 255, 246, 0.8);
}

.progress-value {
    position: relative;
    left: 50rem;
    top: 90%;
}
